extends layout

block content
  h1 #{title}

  p.delete-message Are you sure you want to delete this Product?

  div.delete-item-info
    p #[strong ID]: #{dairy._id}
    p #[strong Brandname]: #{dairy.brandname}
    p #[strong Product]: #{dairy.product}
    p #[strong Price]: #{dairy.price}

  form(method='POST' action='')
    div.delete-form-group
      input#id.form-control(type='hidden', name='id', required='true', value=dairy._id)
    input(class='submit' type='submit')