extends layout

block content
  h1=title
  hr

  ul(class='list-items')
    each item in produce_list
      li(class='product')
        if item.img && item.img.data
          img(src=`data:image/${item.img.contentType};base64, ${item.img.data.toString('base64')}` width='120' height='150')
        else
          div No Image Available with this product.
        p(class="item-price") #{item.price}
        a(href=item.url) #{item.name}

    else
      li There are no Produce Items

  a(class='create-item' href='/inventory/produce/create') New Produce Product